{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="post-side">
    <div class="post-parent">
        <div class="folowing">
            <h3>Following</h3>
        </div>
        {% for post in posts %}
        <div id="post">
            <div id="pun">
                <a id="a" href="profile/{{post.postfk}}" onclick="document.getElementById('su').submit();">
                    <h5 id="postuser">{{post.postfk}}</h5>
                </a>
            </div>
            <div id="ptxt">
                <p id="tx">{{post.text}}</p>
                <h1>{{post.likedpost.id}}</h1>
            </div>
            <input type="hidden" id="lid" value="{{post.id}}" name="">
            {% for i in post.likedpost.all %}
            {% if post.likedpost.all.0.likedpost.id == post.id and request.user == i.userlike %}
            <input type="hidden" id="l-{{post.id}}" value="liked" name="">
            {% endif %}
            {% endfor %}
            <div style="display: none;" id="dl-{{post.id}}">
                <button id="like" value="{{post.id}}" class="button liked">
                    <input type="hidden" id="ch-{{post.id}}" value="t">
                    <i class="fa fa-heart"></i>
                    <span id='n-{{post.id}}'>{{post.numoflikes}}</span>
                </button>
            </div>
            <div style="display: none;" id="dd-{{post.id}}">
                <button id="like" value="{{post.id}}" class="button button-like">
                    <input type="hidden" id="ch-{{post.id}}" value="f">
                    <i class="fa fa-heart"></i>
                    <span id='n-{{post.id}}'>{{post.numoflikes}}</span>
                </button>
            </div>

        </div>
        {% endfor %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">

                {% if posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">first</a>
                </li>

                <li class="page-item">
                    <a class="page-link" aria-disabled="true" tabindex="-1"
                        href="?page={{ posts.previous_page_number }}">previous</a>
                </li>
                {% endif %}

                {% if posts.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>

    </div>

</div>

{% endblock %}